@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

.App {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-image: url("./img/nublado.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100vw;
  height: 150vh;
}

.form-container {
  background: #00416a;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  border: solid #bdbdbd 0;
  box-shadow: 2px 11px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 11px 20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 11px 20px rgba(0, 0, 0, 0.6);
}

.input {
  background: transparent !important;
  border: none !important;
  border-bottom: 2px solid #a9b4bd !important;
}
.input:focus {
  background: transparent !important;
  box-shadow: none !important;
  border-bottom: 2px solid #615fff !important;
}

.input::placeholder {
  color: rgb(255, 255, 255) !important;
  font-size: 1em;
}

.wheatherContainer {
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);
  background-color: rgba(49, 56, 70, 0.603);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-top: 12%;
}

.weatherIcon {
  font-size: 4em;
}
