@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

.App {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100vw;
  height: 150vh;
}

.clearDay{
  background-image: url("./img/clearDay.jpg"); 
}
.clearNight{
  background-image: url("./img/clearNight.jpg"); 
}
.thunderstormDay{
  background-image: url("./img/thunderstormDay.jpg"); 
}
.thunderstormNight{
  background-image: url("./img/thunderstormNight.jpg"); 
}
.sleetDay{
  background-image: url("./img/sleetDay.jpg"); 
}
.sleetNight{
  background-image: url("./img/sleetNight.jpg"); 
}
.rainDay{
  background-image: url("./img/rainDay.jpg"); 
}
.rainNight{
  background-image: url("./img/rainNight.jpg"); 
}
.snowDay{
  background-image: url("./img/snowDay.jpg"); 
}
.snowNight{
  background-image: url("./img/snowNight.jpg"); 
}
.fogDay{
  background-image: url("./img/fogDay.jpg"); 
}
.fogNight{
  background-image: url("./img/fogNight.jpg"); 
}
.cloudyDay{
  background-image: url("./img/cloudyDay.jpg"); 
}
.cloudyNight{
  background-image: url("./img/cloudyNight.jpg"); 
}

.form-container {
  background: #00416a;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  border: solid #bdbdbd 0;
  box-shadow: 2px 11px 20px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 2px 11px 20px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 11px 20px rgba(0, 0, 0, 0.6);
}

.input {
  background: transparent !important;
  border: none !important;
  border-bottom: 2px solid #a9b4bd !important;
}
.input:focus {
  background: transparent !important;
  box-shadow: none !important;
  border-bottom: 2px solid #615fff !important;
}

.input::placeholder {
  color: rgb(255, 255, 255) !important;
  font-size: 1em;
}

.wheatherContainer {
  backdrop-filter: blur(7px) saturate(180%);
  -webkit-backdrop-filter: blur(7px) saturate(180%);
  background-color: rgba(136, 145, 163, 0.541);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 2px 11px 20px rgba(0, 0, 0, 0.6)  ; 
  margin-top: 18%;
}

.weatherIcon {
  font-size: 4em;
}
